@model decimal

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Value</title>
</head>
<body>
<div>
    Total value is $@Model (totalValue in HomeController)
</div>
</body>
</html>
